.block {
  display: block;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.fa-start {
  align-items: flex-start;
}

.fa-center {
  align-items: center;
}

.fj-start {
  justify-content: flex-start;
}

.fj-end {
  justify-content: flex-end;
}

.fj-center {
  justify-content: center;
}

.fj-between {
  justify-content: space-between;
}

.text {
  &-justify {
    text-align: justify;
  }

  &-center {
    text-align: center;
  }

  &-left {
    text-align: left;
  }
}

.color {
  &-black {
    color: $black;
  }

  &-white {
    color: $white;
  }
}

@include margins;
@include paddings;
