@mixin radius($value: $radius) {
  border-radius: $value;
}

@mixin border($color: $dark) {
  border: $border $color;
}

@mixin border-radius($color: $dark) {
  border: $border $color;
  border-radius: $radius;
}

@mixin radius-top($value: $radius) {
  border-top-left-radius: $value;
  border-top-right-radius: $value;
}

@mixin radius-left($value: $radius) {
  border-top-left-radius: $value;
  border-bottom-left-radius: $value;
}

@mixin radius-right($value: $radius) {
  border-top-right-radius: $value;
  border-bottom-right-radius: $value;
}

@mixin radius-bottom($value: $radius) {
  border-bottom-left-radius: $value;
  border-bottom-right-radius: $value;
}
