@mixin animation($time: 0.2s, $type: all, $animation: ease-in-out) {
  transition-timing-function: $animation;
  transition-property: $type;
  transition-duration: $time;
}

@mixin paddings {
  @for $i from 1 through 100 {
    $padding: $i * 4px;
    .p-#{$i} {
      padding: $padding;
    }
    .pl-#{$i} {
      padding-left: $padding;
    }
    .pr-#{$i} {
      padding-right: $padding;
    }
    .pt-#{$i} {
      padding-top: $padding;
    }
    .pb-#{$i} {
      padding-bottom: $padding;
    }
  }
}

@mixin margins {
  @for $i from 1 through 100 {
    $margin: $i * 4px;
    .m-#{$i} {
      margin: $margin;
    }
    .ml-#{$i} {
      margin-left: $margin;
    }
    .mr-#{$i} {
      margin-right: $margin;
    }
    .mt-#{$i} {
      margin-top: $margin;
    }
    .mb-#{$i} {
      margin-bottom: $margin;
    }
  }
}
