@mixin screen($min: auto, $max: 100%) {
  @media screen and (min-width: calc(#{$min} + 1px)) and (max-width: $max) {
    @content;
  }
}

@mixin media($value, $direction: max) {
  $media-direction: #{$direction}-width;

  @if $value ==xs {
    @media screen and ($media-direction: 320px) {
      @content;
    }
  } @else if $value ==sm {
    @media screen and ($media-direction: 414px) {
      @content;
    }
  } @else if $value ==md {
    @media screen and ($media-direction: 768px) {
      @content;
    }
  } @else if $value ==lg {
    @media screen and ($media-direction: 1024px) {
      @content;
    }
  } @else if $value ==xl {
    @media screen and ($media-direction: 1280px) {
      @content;
    }
  } @else if $value ==xxl {
    @media screen and ($media-direction: 1440px) {
      @content;
    }
  } @else if $value ==3xl {
    @media screen and ($media-direction: 1920px) {
      @content;
    }
  } @else {
    @media screen and ($media-direction: $value) {
      @content;
    }
  }
}
