@mixin absolute() {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

@mixin angle($top: 0, $right: 0) {
  position: absolute;
  right: $right;
  top: $top;
}

@mixin svg() {
  @include angle(50%, 50%);
  transform: translate(-50%, -50%);
} ;
