@mixin hidden() {
  visibility: hidden;
  opacity: 0;
}

@mixin visible() {
  visibility: visible;
  opacity: 1;
}

@mixin hidden-max() {
  visibility: hidden;
  box-shadow: none;
  max-height: 0;
  opacity: 0;
  padding: 0;
  border: 0;
  margin: 0;
}
