* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  background-color: $white;
}

button {
  user-select: none;
  cursor: pointer;
  border: none;
}

textarea,
input {
  caret-color: $black;

  &:focus {
    border-color: $black;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-text-fill-color: $black;
    box-shadow: 0 0 0 1000px lightsalmon inset;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}
